[submodule "JUCE"]
	path = libs/JUCE
	url = https://github.com/juce-framework/JUCE/
	branch = juce8
[submodule "ff_meters"]
	path = libs/ff_meters
	url = https://github.com/ffAudio/ff_meters.git
[submodule "libs/clap-juce-extensions"]
	path = libs/clap-juce-extensions
	url = https://github.com/free-audio/clap-juce-extensions.git
	branch = main
